<div>
	<div class="container margin-top-nav">
		<form name="changePass" novalidate>
			<div class="row">
				<div class="col-md-12"><h3>Changer de mot de pass</h3></div>
				<hr/>
			</div>
			<br/>
			<div class="alert alert-success" role="alert" id="logChangePw">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Réussi:</span>
				<span id="logChangePw_msg"></span>
			</div>
			<div class="alert alert-danger" role="alert" id="errorChangePw">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Erreur:</span>
				<span id="errorChangePw_msg"></span>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>Email:</label>
					<input class="form-control" type="email" name="email" id="email" ng-model="email.data" required/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>Vieux mot de passe:</label>
					<input class="form-control" type="password" name="password" id="password" ng-model="oldpass.data" required/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>Nouveau mot de passe:</label>
					<input class="form-control" type="password" name="password" id="password" ng-model="newpass.data" required/>
				</div>
			</div>
			<br/>
			<button type="button" class="btn btn-primary" value="Submit" ng-click="changePasswordClick(email.data, oldpass.data, newpass.data);" ng-disabled="login.$invalid">
					Confirmer
			</button>
			<a type="button" href="#/" class="btn btn-default" >
				Annuler
			</a>
		</form>
	</div>
</div>